@font-face {
    font-family: 'fippsregular';
    src: url('../fonts/fipps-regular-webfont.eot');
    src: url('../fonts/fipps-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fipps-regular-webfont.woff') format('woff'),
         url('../fonts/fipps-regular-webfont.ttf') format('truetype'),
         url('../fonts/fipps-regular-webfont.svg#fippsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}